[submodule "ThirdParty/bgfx.cmake"]
	path = ThirdParty/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/soloud.cmake/soloud"]
	path = ThirdParty/soloud.cmake/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/imgui_club"]
	path = ThirdParty/imgui_club
	url = https://github.com/ocornut/imgui_club.git
[submodule "ThirdParty/tinyxml2"]
	path = ThirdParty/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
