[submodule "ThirdParty/bgfx.cmake"]
	path = ThirdParty/bgfx.cmake
	url = git@github.com:bkaradzic/bgfx.cmake.git
[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "ThirdParty/soloud.cmake/soloud"]
	path = ThirdParty/soloud.cmake/soloud
	url = git@github.com:jarikomppa/soloud.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "ThirdParty/imgui_club"]
	path = ThirdParty/imgui_club
	url = git@github.com:ocornut/imgui_club.git
[submodule "ThirdParty/tinyxml2"]
	path = ThirdParty/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
